.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  color: #b42334;
  background: transparent;
  font-size: 13px;
  font-weight: 700;
}

.button:hover {
  color: #851b29;
  text-decoration: underline;
}
